{% include "menu.html" %}

{% if errores == True %}
	<div class="card-panel red darken-4" style="color:white;">
		<h4>ERROR</h4>
		{{error}}
	</div>
{% endif %}

<div class="container">
    <h3>Registro</h3>
	<form action="{% url 'registro' %}" method="post">{% csrf_token %}
			<div class="row">
				<div class="input-field col s6">
					<label for="email">Email</label>
					<input id="email" type="email" name="email" value="{{ email }}">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label for="nombre">Usuario</label>
					<input id="nombre" type="text" name="nombre" value="{{ nombre }}">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<label for="password">Contraseña</label>
					<input id="password" type="password" name="password" value="{{ password }}">
				</div>
			</div>
		<input type="submit" value="Registrar" class="btn">
	</form>
</div>